<p id="notice"><%= notice %></p>

<p>
  <b>Urine:</b>
  <%= @analysis.urine %>
</p>

<p>
  <b>Feces:</b>
  <%= @analysis.feces %>
</p>
<p>
  <b>Sperm:</b>
  <%= @analysis.sperm %>
</p>

<p>
  <b>Biochemical:</b>
  <%= @analysis.biochemical %>
</p>

<p>
  <b>Blood Clotting:</b>
  <%= @analysis.blood_clotting %>
</p>

<p>
  <b>Protein:</b>
  <%= @analysis.protein %>
</p>

<p>
  <b>Diabetes:</b>
  <%= @analysis.diabetes %>
</p>

<p>
  <b>HIV:</b>
  <%= @analysis.hiv %>
</p>

<p>
  <b>STDS:</b>
  <%= @analysis.stds %>
</p>

<p>
  <b>Syphilis:</b>
  <%= @analysis.syphilis %>
</p>

<%= link_to 'Edit', edit_analyze_path %>
<%= link_to 'Back', analyzes_path %>