<h1>Hello my little friend</h1>

<div class="row">
  <div class="span5 offset2">
    <h4>
      <b>User_id:</b>
      <%= @card.user_id %>
    </h4></br>

    <h4>
      <b>Name:</b>
      <%= @user.name %>
    </h4></br>

    <h4>
      <b>Email:</b>
      <%= @user.email %>
    </h4></br>

    <h4>
      <b>Birthday:</b>
      <%= @card.birthday %>
    </h4></br>

    <h4>
      <b>Birthplace:</b>
      <%= @card.birthplace %>
    </h4></br>
  </div>

  <p>
    <%= image_tag @card.image.url(:thumb).to_s, class: "img-circle" %>
  </p>
</div>

  <h2>Medical Information</h2>
  
<table class="table table-striped">

  <tr>
      <th><abbr title="Это пол, а не порнушка капыч" class="initialism">Sex</abbr></th>
      <th>Blood_groop</th>
      <th>Diagnosis</th>
      <th><abbr title="Нужна ли госпитализация" class="initialism">Hospitalization</abbr></th>
      <th>Medicament</th>
      <th>Patient_conditions</th>
      <th><abbr title="Временно нетрудоспособен" class="initialism">Temporary_incapacitated</abbr></th>
      <th><abbr title="Статус пациента: болен или здоров" class="initialism">Treatment_status</abbr></th>
      <th>Started with a medical card</th>
  </tr>

  <tr>       
      <td><%= @card.sex %></td>
      <td><%= @card.blood_groop %></td>
      <td><%= @card.diagnosis %></td>
      <td><%= @card.hospitalization %></td>
      <td><%= @card.medicament %></td>
      <td><%= @card.patient_conditions %></td>
      <td><%= @card.temporary_incapacitated %></td>
      <td><%= @card.treatment_status %></td>
      <td><%= @card.created_at %></td>
    </tr>
</table>

</br>

  <h2>Analyzes Information</h2>

<table class="table table-striped">

    <tr>
        <th>Analysis_number</th>
        <th>Urine</th>
        <th>Feces</th>
        <th>Sperm</th>
        <th><abbr title="Биохимический анализ крови" class="initialism">Biochemical</abbr></th>
        <th><abbr title="Анализ на свертываемость крови" class="initialism">Blood_clotting</abbr></th>
        <th>Protein</th>
        <th><abbr title="Анализ на сахарный диабет: полложительный или отрицательный" class="initialism">Diabetes</abbr></th>
        <th><abbr title="Анализ на ВИЧ: полложительный или отрицательный" class="initialism">HIV</abbr></th>
        <th><abbr title="Анализ на СПИД: полложительный или отрицательный" class="initialism">STDS</abbr></th>
        <th>Syphilis</th>
        <th>Analysis created</th>
    </tr>

    
  <% @card.analysis.each do |an| %>
    <tr>       
      <td><%= an.id %></td>
      <td><%= an.urine %></td>
      <td><%= an.feces %></td>
      <td><%= an.sperm %></td>
      <td><%= an.biochemical %></td>
      <td><%= an.blood_clotting %></td>
      <td><%= an.protein %></td>
      <td><%= an.diabetes %></td>
      <td><%= an.hiv %></td>
      <td><%= an.stds %></td>
      <td><%= an.syphilis %></td>
      <td><%= an.created_at %></td>
    </tr>
  <% end %>  
</table>

</br>

<%= link_to 'Edit', edit_medical_card_path, class: "btn btn-warning" %> | 
<%= link_to 'Back', medical_cards_path , class: "btn btn-success" %>