<h1 style="margin-top: 30px;">Статистика</h1>

<div class="hero-unit">
	<p>
		<i>Кол-во долбаебов</i>
		<i class= "icon-user"></i>
		<strong><%= User.count %></strong>
	</p>
</div>

<a href="#" data-toggle="tooltip" title="first tooltip">hover over me</a>

<table class="table table-bordered">

  <tr>
    <th>Card_number</th>
      <th>Analysis_number</th>
      <th>Urine</th>
      <th>Feces</th>
      <th>Sperm</th>
      <th>Biochemical</th>
      <th>Blood_clotting</th>
      <th>Protein</th>
      <th>Diabetes</th>
      <th>HIV</th>
      <th>STDS</th>
      <th>Syphilis</th>
  </tr>

    <% @cards.each do |card| %>
      <% card.analysis.each do |an| %>
        <tr>
       
          <td>
            <a rel="tooltip" title="че пасешь щегол?",
              <%= link_to card.id, user_inform_medical_card_path(card) %>
            </a>
          </td>
          <td><%= an.id %></td>
          <td><%= an.urine %></td>
          <td><%= an.feces %></td>
          <td><%= an.sperm %></td>
          <td><%= an.biochemical %></td>
          <td><%= an.blood_clotting %></td>
          <td><%= an.protein %></td>
          <td><%= an.diabetes %></td>
          <td><%= an.hiv %></td>
          <td><%= an.stds %></td>
          <td><%= an.syphilis %></td>
        </tr>
      <% end %>  
    <% end %>
</table>